<div class="ds-price {% if align == 'right' %}ds-price-right{% endif %}">
    <div class="ds-price-row">
        <span class="ds-price-amount {% if size == 'lg' %}ds-price-amount-lg{% elif size == 'sm' %}ds-price-amount-sm{% endif %}">
            {{ value|default:"R$ 0,00" }}
        </span>
        {% if compare_value %}
            <span class="ds-price-compare">{{ compare_value }}</span>
        {% endif %}
    </div>
    {% if helper %}
        <p class="ds-price-helper">{{ helper }}</p>
    {% endif %}
</div>
